---
import type { TopicTileDefinition } from "../data/site";
import { withBasePath } from "../lib/paths";
import TopicIcon from "./TopicIcon.astro";

interface TopicWithCount extends TopicTileDefinition {
  count?: number;
}

interface Props {
  topics: TopicWithCount[];
}

const { topics } = Astro.props;
---

<div class="topic-matrix">
  {topics.map((topic) => (
    <a class="topic-matrix__card" href={withBasePath(topic.href)}>
      <div class="topic-matrix__icon">
        <TopicIcon name={topic.icon} />
      </div>
      <div class="topic-matrix__body">
        <div class="topic-matrix__heading-row">
          <h3>{topic.name}</h3>
          {typeof topic.count === "number" && <span>{topic.count}</span>}
        </div>
        <p>{topic.description}</p>
      </div>
    </a>
  ))}
</div>
